@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('fonts/websymbols-regular-webfont.eot');
    src: url('fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/websymbols-regular-webfont.woff') format('woff'), url('fonts/websymbols-regular-webfont.ttf') format('truetype'), url('fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
}

/* Advanced navigation effects with CSS3 */

body {
    background: #dedede url(../images/bodynoise.jpg) repeat top left;
    font-size: 62.5%;
    font-family: verdana, helvetica, arial, sans-serif;
}

#container {
    width: 960px;
    position: relative;
    margin: auto;
}

ul#nav {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}

ul#nav li {
    position: relative;
    margin: 1px 0px;
    padding: 20px 40px 20px 100px;
    list-style: none;
    width: 180px;
    background: #fcfcfc;
    border: 1px solid #C4C4C4;
    overflow: hidden;
    -webkit-transition: all 0.15s linear;
}

ul#nav li:hover {
    background: #dcebeb;
    -webkit-transform: translateY(-3px) scale(1.05);
    -webkit-box-shadow: 0px 2px 7px #999;
    box-shadow: 0px 2px 7px #999;
    z-index: 1000;
}

ul#nav .icon {
    font-family: 'WebSymbolsRegular',cursive;
    font-size: 3em;
    position: absolute;
    left: 40px;
    top: 30px;
    text-shadow: 0px 2px 1px #999;
    -webkit-transition: all 0.3s linear;
}

ul#nav li:hover .icon {
    -webkit-transform: scale(1.5);
    color: #b7480c;
}

ul#nav li a h4 {
    margin: 0;
    padding: 0;
    font-size: 3em;
    display: block;
    text-transform: capitalize;
    font-weight: normal;
}

ul#nav li:hover a h4 {
    -webkit-animation: slideFromTop 300ms ease-in-out;
    -moz-animation: slideFromTop 300ms ease-in-out;
    -ms-animation: slideFromTop 300ms ease-in-out;
}

ul#nav li a span {
    display: block;
}

ul#nav li:hover a span {
    -webkit-animation: slideFromRight 300ms ease-in-out;
    -moz-animation: slideFromRight 300ms ease-in-out;
    -ms-animation: slideFromRight 300ms ease-in-out;
}

div#panel {
    margin: 0 1px;
    width: 560px;
    height: 477px;
    float: left;
    border: 2px solid #cfcfcf;
    background: #fefefe;
    -webkit-box-shadow: 0px 0px 4px #ccc;
    box-shadow: 0px 0px 4px #ccc;
}

div#smallpanel {
    margin: 0 1px;
    width: 60px;
    height: 477px;
    float: left;
    border: 2px solid #cfcfcf;
    background: #efefef url(/images/smallpanelstrip.jpg) repeat top left;
    -webkit-box-shadow: 0px 0px 4px #ccc;
    box-shadow: 0px 0px 4px #ccc;
}

#smallpanel h3 {
    width: 477px;
    margin: 0;
    padding: 0;
    font-size: 5em;
    display: block;
    text-transform: capitalize;
    color: #8faabd;
    color: rgba(255,255,255,0.5);
    font-weight: normal;
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(90deg) translateY(-60px) translateX(20px);
    -webkit-transition: all 0.3s linear;
    cursor: pointer;
}

#smallpanel h3:hover {
    color: rgba(255,255,255,1);
    text-shadow: 0px 2px 1px #ccc;
}

#smallpanel h3 span.icon {
    font-family: 'WebSymbolsRegular',cursive;
    font-size: 0.7em;
    line-height: 1.9em;
    display: block;
    float: left;
    margin-right: 10px;
}

@-webkit-keyframes slideFromTop {
    from {
        opacity: 0;
        -webkit-transform: translateY(-200%);
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

@-moz-keyframes slideFromTop {
    from {
        opacity: 0;
        -moz-transform: translateY(-200%);
    }

    to {
        opacity: 1;
        -moz-transform: translateY(0%);
    }
}

@-ms-keyframes slideFromTop {
    from {
        opacity: 0;
        -ms-transform: translateY(-200%);
    }

    to {
        opacity: 1;
        -ms-transform: translateY(0%);
    }
}

@-webkit-keyframes slideFromRight {
    from {
        opacity: 0;
        -webkit-transform: translateX(200%);
    }

    to {
        opacity: 1;
        -webkit-transform: translateX(0%);
    }
}

@-moz-keyframes slideFromRight {
    from {
        opacity: 0;
        -moz-transform: translateX(200%);
    }

    to {
        opacity: 1;
        -moz-transform: translateX(0%);
    }
}

@-ms-keyframes slideFromRight {
    from {
        opacity: 0;
        -ms-transform: translateX(200%);
    }

    to {
        opacity: 1;
        -ms-transform: translateX(0%);
    }
}

@-webkit-keyframes slideFromRight {
    from {
        opacity: 0;
        -webkit-transform: translateX(200%);
    }

    to {
        opacity: 1;
        -webkit-transform: translateX(0%);
    }
}
